/* Bitter Theme: modifies the default theme to use Bitter as the default font. */

@import url("https://fonts.googleapis.com/css?family=Bitter:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* See https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables for variables to override. */
:root {
    /* Color scheme variables */
  --charcoal: #2C3639;
  --green-grey: #3F4E4F;
  --browny: #A27B5C;
  --tanly: #DCD7C9;
  --bs-font-sans-serif: "Bitter", sans-serif;
  --bs-link-color: var(--green-grey);
  --tf-pill-bg: var(--browny);
  --tf-icon-fill: var(--browny);
  --tf-page-bg-color: var(--charcoal);
  --tf-footer-bg-color: var(--charcoal);
  --tf-projects-bg-color: var(--green-grey);
}

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--tf-icon-fill);
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
}

a {
  text-decoration: none;
}

/* Simplify the styling of the bottom of Essay cards. */
.card-footer {
  background-color: var(--charcoal);
  border-top: none;
}

/* Within Container */
.zoom-within-container {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}
.zoom-within-container img {
  transition: transform .5s ease;
}
.zoom-within-container:hover img {
  transform: scale(1.5);
}

/* Without Container */
.zoom-without-container {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}
.zoom-without-container img{
	width:100%;
	height:auto;	
}
.zoom-without-container:hover {
  transform: scale(1.5); 
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

table, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
tr:nth-child(even) {
  background-color: lightgrey;
}